<h1 class="mt-4 mb-4 ms-4 me-4">Restaurants</h1>

<div class="mt-4 mb-4 ms-4 me-4">
  <% @restaurants.each do |element| %>
    <p><%= link_to element.name, restaurant_path(element) %></p>
  <% end %>
  <%= link_to "Add new restaurant", new_restaurant_path, class:"btn btn-success mt-4" %>
</div>
